---
layout: archive
title: "Presentations"
permalink: /presentations/
author_profile: true
---

{% include base_path %}

<p>Categories: <a href = "#research"><u>Research Talks & Posters</a></u> | <a href = "#tutorials"><u>Tutorials</u></a></p>
<br>
<a name="research"></a><h3><h3>Research Talks & Posters</h3> 
<ul>{% for post in site.talks reversed %}
 {% if post.type == "Poster" or post.type == "Talk" %}
  {% include archive-single-talk.html %}
 {% endif %}
    {% endfor %}</ul>

<a name="tutorials"></a><h3><h3>Tutorials</h3> 
<ul>{% for post in site.talks reversed %}
 {% if post.type == "Tutorial" %}
  {% include archive-single-talk.html %}
 {% endif %}
    {% endfor %}</ul>