--- 
layout: archive 
title: "Resume" 
permalink: /resume/ 
author_profile: true 
redirect_from: 
  - /cv 
--- 
{% include base_path %}
<h2> <span style="line-height: 1.1;">Education</h2>
<ul>
    <li>PhD in Molecular & Cell Biology, <strong>University of California, Berkeley</strong>, 2012 - 2018 </li>
    <li>AB in Molecular Biology & Certificate in Neuroscience (Quantitative & Computational Neuroscience honors track), <strong>Princeton University</strong>, 2008 - 2012</li>
</ul>

<h2>Skills</h2>
<ul>
    <li><strong>Knowledge</strong>: Data analysis, statistics, molecular biology, developmental biology, stem cell biology, neuroscience, single-cell RNA-sequencing; logistics (event organization)</li>
    <li><strong>Tools</strong>: R/RStudio, Python, MATLAB, Git, some bash, molecular biology lab techniques (fluorescence-activated cell sorting, in situ hybridization), Adobe Illustrator, InDesign
    </li>
</ul>    
    
<h2>Experience</h2>
<ul>
    <li>Postdoctoral Researcher (UC Berkeley, Advisor: John Ngai, June 2018 – Present)
        <br/>
            <strong>Understanding mechanisms of olfactory stem cell-mediated regeneration.</strong></li>
    <ul><span style="font-size: medium;"> 
        <li>Further investigation of the contribution of basal stem cells to injury-induced regeneration using larger single-cell RNA-sequencing datasets (10X Genomics Platform).</li>
        <li>Assisting colleagues with analysis of single-cell RNA-sequencing datasets of olfactory bulb and cortex.</li>
        <li>One review article published and one workshop given.</li>
    </span></ul>
    <li>Moore-Sloan Data Science Fellow (Berkeley Institute for Data Science, August 2017 – Present)
        <br/>
            <strong>"Advancing data science and data-intensive research across the campus and beyond."</strong>
        <br /> <span style="font-size: medium;">Beyond my research collaborations, I have contributed to the following BIDS initiatives:</li>
    <ul> <span style="font-size: medium;">
        <li>BIDS Career Paths and Alternative Metrics Working Group (October 2017 - Present). Click <a href="/portfolio/2017-10-CPWG/"><u>here</u></a> for details.</li>
        <li>BIDS Executive Committee (June 2018 - Present).</li>
        <li>BIDS Strategic Planning Committee (June 2018 - Present).</li>
    </span></ul>
    <li>Graduate Student Researcher (UC Berkeley, Advisor: John Ngai, May 2013 – May 2018)
        <br/>
            <strong>Deconstructing lineage trajectories arising from olfactory stem cells at single cell resolution.</strong></li>
    <ul><span style="font-size: medium;"> 
        <li> Investigating how basal stem cells of olfactory epithelium contribute to steady-state neurogenesis and injury-induced regeneration using single-cell RNA-sequencing.</li>
        <li> Using clustering and lineage trajectory prediction algorithms, developed in collaboration with biostatisticians, to model cell state transitions and cell fate trajectories. </li>
        <li> Interpreting models to form hypotheses about regulators of biological processes, which are then tested experimentally by our team.</li>
        <li>Two co-first author papers published, two other methods papers published.</li>
        <li>Repositories available at <a href="https://github.com/diyadas/HBC-regen">github.com/diyadas/HBC-regen</a> and <a href="https://github.com/rufletch/p63-HBC-diff">github.com/rufletch/p63-HBC-diff</a></li>
        <li><strong>California Institute for Regenerative Medicine (CIRM) Predoctoral Fellow</strong> (January 2015 - December 2015)</li>
        <li><strong>Elizabeth Einstein Roboz Fellowship</strong> (Spring 2015)</li>
    </span></ul>
    <li> CDIPS Data Science Workshop (UC Berkeley, July 2016)</li>
    <ul><span style="font-size: medium;"> 
        <li>Developed topic ontology for English Wikipedia articles and classifier for new articles.</li>
        <li> Repository available at <a href="https://github.com/diyadas/Topic-Ontology">github.com/diyadas/Topic-Ontology</a></li>
        </span></ul>
    <li> Undergraduate Researcher (Princeton University, Advisor: Sam Wang, June 2009 – June 2012) </li>
    <ul><span style="font-size: medium;"> 
        <li> Awarded <strong>John Brinster, Class of 1943, Prize (2012) for best senior thesis in Neuroscience</strong>: A Quantitative Analysis of Temperament and Connections to Neuroanatomy in the Domestic Dog (<i>Canis familiaris</i>).</li>
        </span></ul>
</ul>

<h2>Publications</h2> 
<i>Asterisk indicates co-first authorship.</i>
<ul>{% for post in site.publications reversed %} {% include archive-single-cv.html %} {% endfor %}</ul>

<h2>Presentations</h2>
<a href = "#talks"><u>Talks</a></u> | <a href = "#tutorials"><u>Tutorials</u></a> | <a href = "#posters"><u>Posters</a></u>
<a name="talks"></a><h3>Talks</h3> 
<ul>{% for post in site.talks reversed %}
 {% if post.type == "Talk" %}
  {% include archive-single-talk-cv.html %}
 {% endif %}
    {% endfor %}</ul>
<a name="tutorials"></a><h3>Tutorials</h3> 
<ul>{% for post in site.talks reversed %}
 {% if post.type == "Tutorial" %}
  {% include archive-single-talk-cv.html %}
 {% endif %}
    {% endfor %}</ul>
<a name="posters"></a><h3>Posters</h3> 
<ul>{% for post in site.talks reversed %}
 {% if post.type == "Poster" %}
  {% include archive-single-talk-cv.html %}
 {% endif %}
    {% endfor %}</ul>

<h2> Leadership</h2>
<ul>{% for post in site.portfolio reversed %} {% include archive-single-port.html %} {% endfor %}</ul>

<h2>Teaching</h2>
<ul>{% for post in site.teaching reversed %} {% include archive-single-cv.html %} {% endfor %}</ul>
