--- 
layout: archive 
title: "Resume" 
permalink: /resume/ 
author_profile: true 
redirect_from: 
  - /cv 
--- 
{% include base_path %}

<a href = "files/resume.pdf"><p>Also available as an abridged PDF.</p></a>

<h1 align="center">Diya Das</h1>
<p align="center">diyadas@berkeley.edu | diyadas.github.io </p>
<h2> <span style="line-height: 1.1;">Education</h2>
<ul>
    <li><strong>University of California, Berkeley</strong>, 2012 - 2018 
    <br>PhD in Molecular & Cell Biology</li>
    <li><strong>Princeton University</strong>, 2008 - 2012
    <br>AB in Molecular Biology
    <br>Certificate in Neuroscience (Quantitative & Computational Neuroscience honors track)</li>
</ul>

<div class="row">
    <div class="column left">
        <h2>Skills</h2>
        <ul>
            <li>generation of biological models from genomic data</li>
            <li>single-cell RNA-sequencing analysis</li>
            <li>assay for transposase-accessible chromatin sequencing (ATAC-seq) and analysis</li>
            <li>computational methods instruction: Carpentries instructor and lesson curriculum maintainer</li>
            <li>event organization and logistics</li>
        </ul>
    </div>
    <div class="column right">
        <h2>Tools</h2>
<ul>
    <li>High performance computing</li>
    <li>R/RStudio</li>
    <li>Python (pandas, dask)</li>
    <li>MATLAB</li>
    <li>Bash</li>
    <li>Git/GitHub</li>
    <li>Adobe Illustrator and InDesign</li>
        </ul>
    </div>
</div>
    
<h2>Experience</h2>
<ul>
    <li>Lab of John Ngai, UC Berkeley
    <br>Postdoctoral Researcher (June 2018 – Present)
    <ul><span style="font-size: medium;"> 
        <li>Investigated the contribution of basal stem cells to injury-induced regeneration using larger single-cell RNA-sequencing datasets (10X Genomics Chromium platform).</li>
        <li>Assisted colleagues with analysis of single-cell RNA-sequencing datasets of olfactory bulb and cortex.</li>
        <li>One review article published and one workshop given.</li>
    </span></ul>
    Graduate Student Researcher (May 2013 – May 2018)
    <ul><span style="font-size: medium;"> 
        <li> Investigated how basal stem cells of olfactory epithelium contribute to steady-state neurogenesis and injury-induced regeneration using single-cell RNA-sequencing.</li>
        <li> Used clustering and lineage trajectory prediction algorithms, developed in collaboration with biostatisticians, to model cell state transitions and cell fate trajectories. </li>
        <li> Interpreted models to form hypotheses about regulators of biological processes, which were then tested experimentally by our team.</li>
        <li>Two co-first author papers published, two other methods papers published.</li>
        <li>Code available at <a href="https://github.com/diyadas/HBC-regen">github.com/diyadas/HBC-regen</a> and <a href="https://github.com/rufletch/p63-HBC-diff">github.com/rufletch/p63-HBC-diff</a></li></span></ul>    
    <li> CDIPS Data Science Workshop (UC Berkeley, July 2016)</li>
    <ul><span style="font-size: medium;"> 
        <li>Developed topic ontology for English Wikipedia articles and classifier for new articles.</li>
        <li>Code available at <a href="https://github.com/diyadas/Topic-Ontology">github.com/diyadas/Topic-Ontology</a></li>
        </span></ul>
    <li>Undergraduate Researcher, Lab of Sam Wang, Princeton University (June 2009 – June 2012) </li>
    <ul><span style="font-size: medium;"> 
        <li>Awarded <strong>John Brinster, Class of 1943, Prize (2012) for best senior thesis in Neuroscience</strong>: A Quantitative Analysis of Temperament and Connections to Neuroanatomy in the Domestic Dog (<i>Canis familiaris</i>).</li>
        </span></ul>
</ul>

<h2>Fellowships</h2>   
 <ul><li>Moore-Sloan Data Science Fellow, Berkeley Institute for Data Science (August 2017 – Present)</li>
     <li>California Institute for Regenerative Medicine (CIRM) Predoctoral Fellow</strong> (January 2015 - December 2015)</li>
    <li>Elizabeth Einstein Roboz Fellowship</strong> (January 2015 - May 2015)</li>
</ul>          
<h2>Publications</h2> 
    <p class="archive__item-excerpt" itemprop="description"><i>Asterisk indicates co-first authorship.</i></p>
<ul>{% for post in site.publications reversed %} {% include archive-single-cv.html %} {% endfor %}</ul>

    <h2>Presentations</h2> 
     <a href = "#talks"><u>Talks</a></u> | <a href = "#tutorials"><u>Tutorials</u></a> | <a href = "#posters"><u>Posters</a></u>
      
<a name="talks"></a><h3>Talks</h3> 
<ul>{% for post in site.talks reversed %}
 {% if post.type == "Talk" %}
  {% include archive-single-talk-cv.html %}
 {% endif %}
    {% endfor %}</ul>
<a name="tutorials"></a><h3>Tutorials</h3> 
<ul>{% for post in site.talks reversed %}
 {% if post.type == "Tutorial" %}
  {% include archive-single-talk-cv.html %}
 {% endif %}
    {% endfor %}</ul>
<a name="posters"></a><h3>Posters</h3> 
<ul>{% for post in site.talks reversed %}
 {% if post.type == "Poster" %}
  {% include archive-single-talk-cv.html %}
 {% endif %}
    {% endfor %}</ul>

<h2> Leadership</h2>
<ul>{% for post in site.portfolio reversed %} {% include archive-single-port.html %} {% endfor %}</ul>

<h2>Teaching</h2>
<ul>{% for post in site.teaching reversed %} {% include archive-single-port.html %} {% endfor %}</ul>
